*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
.nav-wrapper {
  background-color: rgb(0, 0, 0);
}
nav li a {
  font-family: 'Eagle Lake', cursive;
  font-size: 24px;
}
.header {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}
.description {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
@media only screen and (max-width: 480px) {
.parallax-desktop img {display:none}
.parallax-mobile img {display: block}
}

/* Special Rules for Desktops */
@media only screen and (min-width: 1024px) {
.parallax-desktop img {display:block}
.parallax-mobile img {display: none}
}
